body {
  margin: 0;
  padding: 0;
  background-image: url('/assets/naturepic.png');
  background-size: cover; /* image covers the whole screen */
  background-repeat: no-repeat; /* no tiling */
  background-position: center; /* centered image */
  height: 100vh; /* full screen height */
}
